.App {
  text-align: center;
  background: black;
  min-height: 110vh;
  width: 100vw;
}

header img {
  max-width: 100%;
}

.cards {
  display: flex;
  padding: 2rem;
  width: 65vw;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: space-around;
  justify-items: space-around;
  margin: 2em auto;
  min-height: 110vh;
}
.card {
  width: 18em;
  height: 20em;
  border-radius: 0.8rem;
  background: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.2s;
}

.card img {
  max-width: 90%;
  padding: 0.25em;

  border-radius: 3px;
}

.card:hover {
  transform: scale(1.1);
}

@media (max-width: 500px) {
  .cards {
    flex-flow: column nowrap;
    justify-content: center;
    width: 100%;
  }
  .card {
    width: 80%;
    margin-bottom: 2rem;
  }
}
